<!DOCTYPE html>
<html>
<head>
  <title>Big Ian's Cocktails!</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/ingredients">My Stock</a>
      </li>
    </ul>
  </nav>
  <%= yield  %>
</body>
</html>